<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>{{ title }}</title>
</head>
<body>
    <header>
        <h1>{{ title }}</h1>
        {% include "nav.njk" %}
    </header>
    <main>
        {{ content | safe }}
        <br>
        <br>
        <a href="/feed.xml"><img src="/assets/icons/rss-square-solid.svg" alt="" srcset="" style="height: 2rem;"></a>
    </main>
    {% include "footer.njk" %}
</body>
</html>