<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/icons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/dark.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>{{ title }}</title>
</head>
<body class="dark">
    <header>
        {% include "nav.njk" %}
        <h1>{{ title }}</h1>
    </header>
    <main>
        {{ content | safe }}
        <br>
        <br>
    </main>
    {% include "footer.njk" %}
    <script>

        let darkmode = document.cookie.split("=")[1];
        if(darkmode == "false"){
            document.body.classList.remove("dark");
            document.getElementById("darkmode-checkbox").checked = true;
        }

        function toggleDarkmode() {
            if(document.body.classList.contains("dark")) {
                document.body.classList.remove("dark")
                document.cookie = "darkmode=false";
                document.getElementById("gh-stats").src = "https://github-readme-stats.vercel.app/api?username=TheMrPixelDev&show_icons=true";
                document.getElementById("gh-top-langs").src = "https://github-readme-stats.vercel.app/api/top-langs/?username=TheMrPixelDev&layout=compact";
            }else{
                document.body.classList.add("dark")
                document.cookie = "darkmode=true";
                document.getElementById("gh-stats").src = "https://github-readme-stats.vercel.app/api?username=TheMrPixelDev&theme=dark&show_icons=true";
            document.getElementById("gh-top-langs").src = "https://github-readme-stats.vercel.app/api/top-langs/?username=TheMrPixelDev&theme=dark&layout=compact";
            }
        }
    </script>
</body>
</html>