<footer>
    <a href="/feed.xml" style="font-weight: bold; display: inline-flex;">
        <img src="/assets/icons/rss-square-solid.svg" style="height: 2rem;" id="rss-icon">
        <p style="margin: 6px">RSS-Feed</p>
    </a>
    <p>Made with ❤️ by Julian</p>
    <p>Copyright &copy pxldeveloper.eu 2022</p>
</footer>