<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/hall-of-fame">Hall of Fame</a>
        </li>
        <li>
            <a href="/caesar-encryption">Encryption</a>
        </li>
        <li>
            <a href="/contact">Contact</a>
        </li>
        <li>
            <a href="/manifest">Manifest</a>
        </li>
        <li>
            <a href="/impressum">Impressum</a>
        </li>
        <li>
            <div class="darkmodeswitch">
                <img src="/assets/icons/moon-solid.svg" style="margin-right: 5px;">
                <label class="switch">
                    <input type="checkbox" onclick="toggleDarkmode()">
                    <span class="slider round"></span>
                </label>
                <img src="/assets/icons/sun-solid.svg" style="margin-left: 5px;">
            </div>
        </li>
    </ul>
</nav>