<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/hall-of-fame">Hall of Fame</a>
        </li>
        <li>
            <a href="/carrier">Carrier</a>
        </li>
        <li>
            <a href="/contact">Contact</a>
        </li>
        <li>
            <a href="/gallery">Gallery</a>
        </li>
        <!--<li>
            <a href="/manifest">Manifest</a>
        </li>-->
        <li>
            <a href="/impressum">Impressum</a>
        </li>
        <li>
            <div class="darkmodeswitch">
                <label class="switch">
                    <input type="checkbox" onclick="toggleDarkmode()" id="darkmode-checkbox">
                    <span class="slider round">
                        <img src="/assets/icons/moon-solid.svg">
                        <img src="/assets/icons/sun-solid.svg">
                    </span>
                </label>
            </div>
        </li>
    </ul>
</nav>